.delete_item_component {
  width: 200px;
  height: 60px;
  box-shadow: 0px 6px 11px 1px rgba(0, 0, 0, 0.23);
  -webkit-box-shadow: 0px 6px 11px 1px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0px 6px 11px 1px rgba(0, 0, 0, 0.23);
}
