.delete_item_component {
  position: relative;
  width: 200px;
  height: 60px;
  box-shadow: 0px 6px 11px 1px rgba(0, 0, 0, 0.23);
  -webkit-box-shadow: 0px 6px 11px 1px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0px 6px 11px 1px rgba(0, 0, 0, 0.23);
}

:root {
  --default: #ffffff;
  --hover: #2196f3;
  --size: 10px;
}
.arrows {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10vh;
  position: absolute;
  bottom: -16px;
  right: 10px;
}
.arrows .size {
  display: inline-block;
  width: 0;
  height: 0;
  transition: border-color 0.2s ease-in-out;
}
.down {
  border-top: var(--size) solid var(--default);
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
}
